<header class="container-header">
  <div class="container-banner">
    <div class="top-banner">
      <img
        src="/assets/images/header/top-banner/abstract-top-left.svg"
        alt="Design virado para esquerda"
      />
      <div class="container-text">
        <img
          src="/assets/images/header/top-banner/cricket.ball.fill.svg"
          id="criquete"
          alt="Críquete"
        />
        <p>
          Participe gratuitamente da nossa demonstração de nutrição
          personalizada
        </p>
        <img
          src="/assets/images/header/top-banner/arrow-right.svg"
          alt="Setra para a direita"
        />
      </div>

      <img
        src="/assets/images/header/top-banner/abstract-top-right.svg"
        alt="Design virado para
        direita"
      />
    </div>
  </div>

  <nav class="container-nav">
    <div class="nav-logo">
      <img src="/assets/images/common/logo.svg" alt="Logo" />
    </div>
    <div class="nav-menu">
      <ul class="nav-list">
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/pages/sobre.html">Sobre</a></li>
        <li><a href="/pages/time.html">Time</a></li>
        <li><a href="/pages/processo.html">Processo</a></li>
        <li><a href="/pages/preco.html">Preço</a></li>
        <li><a href="/pages/blog.html">Blog</a></li>
        <li><a href="/pages/contato.html">Contate-Nos</a></li>
      </ul>
    </div>
  </nav>
</header>
